/src/parser/sym.java
/src/parser/parser.java
/src/parser/Lexer.java
/build
/dist/
/nbproject/private/
/nbdist/
/nbactions.xml
/.nb-gradle/
/db/*
/lib/hipr/hi_pr
/lib/hipr/*.exe
/crawl_backup

manifest.mf
*.log
*.java~
*.mm
*.plt
*.plt*
*.png
*.txt
*.dat
*.exe
*.exe.dumpstack
*.exe.stackdump
/grafo.txt
/grafo_nomes.txt
/jgnuplot.xml

*.cys
*.sif
*.csv
