/src/parser/sym.java
/src/parser/parser.java
/src/parser/Lexer.java
/build
/dist/
/nbproject/private/
/nbdist/
/nbactions.xml
/.nb-gradle/
/db/*

*.log
*.java~
*.mm
*.plt
*.png
/grafo.txt
/jgnuplot.xml